@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marcellus&display=swap');

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #B99D7E;
}

h1 {
  color: #8E5133;
  font-family: 'Marcellus', serif;
  font-size: 40px;
  margin: 15px 0 0;
}

h2 {
  color: #B99D7E;
  font-size: 20px;
  margin: 0px;
}

h3 {
  color: #58301E;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  background-image: url("images/hero-background-image.png");
  height: 75vh;
  background-repeat: no-repeat;
  position: relative
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.nav-logo img {
  width: 102px;
  padding: 15px;
}

nav ul li {
  list-style: none;
  display: inline-block;

}

nav li a {
  text-decoration: none;
  color: white;
  padding: 10px;

}

.logo {
  position: absolute;
  bottom: 100px;
  right: 50px;
}

button {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  background: #8E5133;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin: 20px auto;
}

.offer-cards {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.card {
  width: 205px;
  padding: 15px;
  margin: 10px;
}

.herald {
  background-image: url("images/paper-texture-background.png");
  background-size: cover;
  
}

.herald img {
  width: 205px;
}

footer {
  background: #8E5133;
  padding: 15px;
}

footer p {
  margin: 0;
  color: white;
}